{% extends "base.html" %}

{% block body %}
<div class='page-header'>
    <h1 class='text-center'>Custom Commands</h1>
</div>
<h3>Command <span style='margin-left:90px;'>Sound File</span></h3>
<div>
    {% for command in commands %}
    <form method='post' class='form-inline'>
        <div class='form-group'>
            <input class='form-control' type='text' value={{command}} name='name'/>
            <select class='form-control' name='file'>
                {% for sound in sounds %}
                <option
                {% if sound == commands[command] %}
                selected
                {% endif %}
                >
                {{sound}}</option>
                {% endfor %}
            </select>
            <button formaction='/update' class='btn btn-warning' type='submit' style='width:74px;'>update</button>
            <button formaction='/delete' class='btn btn-danger' type='submit' style='width:74px;'>delete</button>
        </div>
    </form>
    {% endfor %}

    <form action='/update' class='form-inline' method='post'>
        <div class='form-group'>
            <input class='form-control' type='text' name='name'/>
            <select class='form-control' name='file'>
                {% for sound in sounds %}
                <option>{{sound}}</option>
                {% endfor %}
            </select>
            <button class='btn btn-success' type='submit' style='width:150px;'>add</button>
        </div>
    </form>

    <form method='post' enctype='multipart/form-data'>
        <input type='file' name='file'>
        <input formaction='/upload' type='submit' value='Upload'>
    </form>

    <form action='/save' method='post'>
        <button class='btn btn-lg btn-success' style='width:100%;' type='submit'>Save</button>
    </form>

</div>
{% endblock %}
