{
    "clientID": "Client/Application ID found under App Details",
    "token": "Token found under App Bot User",
    "prefix": "!",
    "commands": {
        "text": {
            "echo": "enabled",
            "ping": "disabled"
        }
    }
}
